
{% load custom_filters %}

{% block content %}
<h1>Purchase History for {{ user.username }}</h1>
{% for order in orders %}
    <div class="purchase-group" style="margin-bottom: 20px;">
        <h2>Order Date: {{ order.created_at }}</h2>
        <table class="purchase-table" border="1">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity|multiply:item.product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total Price: {{ order.items.all|total_price }}</p>
    </div>
{% endfor %}
{% endblock %}
